async-timeout==4.0.0
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
dateparser==1.1.0
decorator==4.4.2
distlib==0.3.3
et-xmlfile==1.0.1
filelock==3.3.2
Flask==2.0.2
frozenlist==1.2.0
idna==2.10
ipykernel==5.5.0
ipython==7.20.0
ipython-genutils==0.2.0
matplotlib==3.3.4
numpy==1.21.4
pandas==1.2.2
Pillow==8.1.2
pipenv==2021.11.5.post0
python-binance==1.0.15
python-dateutil==2.8.1
schedule==1.1.0
songline==0.0.1
TA-Lib==0.4.21

